@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Work+Sans&display=swap');


body{
    /* font-family: 'Inter', sans-serif; */
font-family: 'Work Sans', sans-serif
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;

}


.main{
    padding: 20px;
    width: 100%
}

.top-nav{
    height: 80px;
    padding: 0px 30px;
    box-shadow: .5px .4px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav img{
    align-self: flex-start;
    height: 100%
}

.root{
    max-width: fit-content;
    min-width: 200px;
    flex: 1;
    height: 100vh;
    background-color: #F3F4F6;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0px
}

.root ul{
    color: #254169;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 18px; */
    list-style-type: none;
}

.root ul li{
    padding: 15px;
}

.root ul li:hover{
     background: #B7C5EB;
     border-radius: 8px;
}

.container{
    display: flex;
}
/*  */

.admin-title{
    width: max-content;
    padding: 20px;
    height: 100%;
    /* border: 1px solid; */
    align-self: right;
}


@media screen and (max-width: 600px){
    .root{
        display: none;
    }
}